<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Полет БВС</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />

  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="bg-gray-50 min-h-screen">
  <header class="bg-white shadow-sm">
    <div class="container mx-auto px-4 py-6 flex justify-between items-center">
      <h1 class="text-2xl font-bold text-blue-600">Полет БВС</h1>
      <nav>
        <ul class="flex space-x-6">
          <li><a href="{{ url_for('index') }}" class="text-gray-700 hover:text-blue-600 transition">Главная</a></li>
          <li><a href="https://docs.google.com/presentation/d/1ys8HC41SEvZDcvZJheZCFXT_k4XoABs3HxmPITwQwdA/edit?slide=id.p8#slide=id.p8" class="text-gray-700 hover:text-blue-600 transition">О проекте</a></li>

          {% if username %}
            <li><a href="{{ url_for('auth.logout') }}" class="text-gray-700 hover:text-blue-600 transition">Выйти</a></li>
          {% else %}
            <li><a href="{{ url_for('auth.login') }}" class="text-gray-700 hover:text-blue-600 transition">Войти</a></li>
          {% endif %}

          {% if session.get('role') == 'admin' %}
            <li>
              <a href="{{ url_for('admin_panel') }}"
                 class="bg-blue-600 text-white px-4 py-2 rounded-lg shadow hover:bg-blue-700 transition">
                Перейти в админ-панель
              </a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </header>

  <main class="container mx-auto px-4 py-8">
    <div id="stats-panel" class="grid grid-cols-2 md:grid-cols-4 gap-4 my-6">
        <div class="stat-card bg-white-50 p-4 rounded-lg shadow text-center">
            <h3 class="text-lg font-bold text-blue-700">Всего полётов</h3>
            <p id="total-flights" class="text-2xl font-semibold">—</p>
        </div>
        <div class="stat-card bg-white-50 p-4 rounded-lg shadow text-center">
            <h3 class="text-lg font-bold text-blue-700">Общий налёт (ч)</h3>
            <p id="total-hours" class="text-2xl font-semibold">—</p>
        </div>
        <div class="stat-card bg-white-50 p-4 rounded-lg shadow text-center">
            <h3 class="text-lg font-bold text-blue-700">Среднее время (ч)</h3>
            <p id="avg-time" class="text-2xl font-semibold">—</p>
        </div>
        <div class="stat-card bg-white-50 p-4 rounded-lg shadow text-center">
            <h3 class="text-lg font-bold text-blue-700">Среднее количество полетов за день</h3>
            <p id="avg-flights-day" class="text-2xl font-semibold">—</p>
        </div>
    </div>

    <div class="bg-white rounded-xl shadow-md overflow-hidden mb-8 p-6">
      <h2 class="text-xl font-semibold text-gray-800 mb-4">Интерактивная карта</h2>
      <div class="relative">
        <div id="map-container" class="w-full h-auto">
          {% include "map.html" %}
        </div>
      </div>
      <div id="tooltip" class="tooltip"></div>
    </div>
    <div id="regions-charts" class="space-y-3 mt-3"></div>
  </main>

  <footer class="bg-gray-800 text-white py-8">
    <div class="container mx-auto px-4 text-center text-gray-400">
      © 2025 Полет БВС.
    </div>
  </footer>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{{ url_for('static', filename='functions.js') }}"></script>
  <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
